html,
body, .content {
    height: 100%;
    margin: 0;
    padding: 0;
}
.title {
    color: white !important;
}
.container{
    padding: 0;
}

.browser {
    padding: 79px;
    background-image: url("../images/pattern-bg.png");
}

.attribution {
    position: relative;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.address{
    left: 20%;
    position: relative;
    bottom: 60px;
    border: 1px solid white;
    border-radius: 10px;
    width: 70%;
    padding: 62px;
    background: white;
    z-index: 10;
}
.search input{
    background-color: white;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 12px;
    width: 40vw;
    /*
    margin: 2px;*/
    border: 0px solid;
    outline: none;
}
#search{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: black;
    padding-left: 15px;
    padding-right: 15px;
    border:0px;
    /*padding: 10px;
    margin: 2px;*/
}
#search:after{
    background-image: url("../images/icon-arrow.svg");
}

.item{
    position: relative;
    width: 25%;
}
.item h5{
    color: darkgray;
    font-weight: bold;
}

#map {
    height: 67%;
    bottom: 206px;
}
